@import './variables.scss';
@import './typography.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

.container {
    margin: 1.75rem;
    animation: 0.3s slidein ease-in-out forwards;
    @media (min-width: $media-tablet) {
        width: 33.75rem;
        margin: auto;
    }
    .btn {
        display: inline-block;
        margin-top: 1.25rem;
        padding: 18px 20px;
        border-radius: $border-radius;
        border: 1px solid $font-base;
        @media(min-width: $media-tablet) {
            text-align: initial;
            display: inline-block;
            margin-top: 2.125rem;
        }
        &:hover,
        &:focus {
            transition: 0.4s all ease-in-out;
            background: $highlight-color;
            border: 1px solid $primary-color;
            color: $primary-color;
            outline: 0;
        }
    }
}

.container.list {
    @media (min-width: $media-tablet) {
        width: 100%;
        margin: auto;
    }
    a {
        display: block;
        font-weight: 100;
        transition: 0.4s all ease;
        font-family: $font-text;
        &:hover,
        &:focus{
            transform: matrix(1, 0, 0, 1, 0, 0);
            outline: 0;
        }
        &:hover h2,
        &:focus h2 {
            color: $headline-base;
            transition: 0.3s color ease;
        }
    }
    li section {
        display: block;
        max-height: 0;
        overflow: hidden;
        margin:0 1em;
        transition: (max-height 0.4s ease-out);
        @media (min-width: $media-tablet) {
            margin: 0 14vw;
        }
        @media (min-width: $media-desktop) {
            display: flex;
        }
        div {
            @media (min-width: $media-desktop) {
                max-width: 50%;
                margin-right: 3rem;
            }
            .context-padding {
                padding-top: 1rem;
            }
        }
    }
    li h2 {
        transition: 0.4 color ease;
        color:$off-focus;
        font-size: 2rem;
        margin: 2rem 1rem;
        cursor: pointer;
        @media (min-width: $media-tablet) {
            font-size: 10vw;
            margin: 14vw;
            margin-bottom: 2vw;
        }
    }
}

.fa-chevron-right {
    margin-left: 8px;
}

.container.list li section.selected {
    max-height: 600px;
    @media (min-width: $media-tablet) {
        max-height: 850px;
    }
    @media (min-width: $media-desktop) {
        max-height: 420px;
    }
}

.notSelected {
    display: none;
}

.img-size {
    display: block;
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 0;
}
main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.container.list a.inline-block {
    display: inline-block;
}

.container.list li h2.selected {
    margin-bottom: 2vw;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: matrix(1, 0, 0, 1, 20, 0);
    }
    to {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}
#box {
    background-color: rgba(40, 40, 190, 255);
    border: 4px solid rgb(20, 20, 120);
    transition: background-color 1s, border 1s;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .vertical {
    color: white;
    font: 32px "Arial";
  }
  
  .extra {
    width: 350px;
    height: 350px;
    margin-top: 10px;
    border: 4px solid rgb(20, 20, 120);
    text-align: center;
    padding: 20px;
  }