$primary-color: #fff;
$highlight-color: #FDCA42;
$headline-base: #141414;
$font-base:#4D5456;
$off-focus: #B9C6CA;

$font-stack: 'Oswald', sans-serif;
$font-text: 'Roboto', sans-serif;

$border-radius: 2rem;

$media-phone: 28.125rem;
$media-tablet: 48rem;
$media-desktop: 80rem;